[Unit]
Description=Node.js Website Service
After=network.target

[Service]
ExecStart=/home/nodashin/.volta/bin/npm run serve
WorkingDirectory=/home/nodashin/www/nodashin-website/website
Restart=never
Environment=NODE_ENV=production
KillMode=process

[Install]
WantedBy=default.target
